@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');

* {
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}

.footer a {
    margin-right: 10px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 2px;
    margin-bottom: 10px;
}
